<template name="userAccount">

    <div class="ui centered page grid" id="metrics-list">
      
      <div class="row">
        <h2 class="slim-header-light">User Account</h2>
      </div>

      {{# if currentUser}}      
	      <div class="row">
	        <div class="column">
	          <div class="ui form">
	            <div class="field">   
	            </div>
	          </div>

	        </div> <!-- .column -->
	      </div> <!-- .row -->
	  {{else}}
	  <h3 class="information centered">You have not logged.</h3>
      {{/if}}
</div>
</template>
